<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Перелік рекомендованих наукових журналів для публікацій</title>


    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css'>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>

    <link rel="stylesheet" href="css/style.css">


</head>

<body>

<div class="container-fluid" ng-app="sortApp" ng-controller="mainController">
    <div class="row">
        <div>
            <p class="lead"><h4><a href="http://fiot.kpi.ua/?page_id=8453">Назад</a></h4></p>
            <ul>
                <h4>
                    <li><a href="#international-journals">Перелік міжнародних наукових журналів, рекомендованих для
                        опублікування наукових статей</a></li>
                </h4>
                <h4>
                    <li><a href="#ukrainian-journals">Перелік українських журналів, що входять до наукометричних баз
                        даних Scopus і Web of Science</a>
                    </li>
                </h4>
                <h4>
                    <li><a href="#scopus-web-of-science-explanation">Як визначити приналежність наукового журналу до
                        наукометричних баз даних Scopus і Web of Science </a>
                    </li>
                </h4>
                <h4>
                    <li><a href="#rating-explanation"> Як визначити показники авторитетності (рейтинг) наукових
                        журналів</a></li>
                </h4>
            </ul>
        </div>
    </div>

    <h3 id="international-journals">Перелік міжнародних наукових журналів, рекомендованих для опублікування наукових
        статей</h3>

    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Пошук журналу" ng-model="searchFish">
            </div>
        </div>
    </form>

    <table class="table table-responsive table-bordered table-striped">

        <thead>
        <tr>
            <td>
                <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                    Ім'я журналу
                    <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="#" ng-click="sortType = 'publisher'; sortReverse = !sortReverse">
                    Видавець
                    <span ng-show="sortType == 'publisher' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'publisher' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="#" ng-click="sortType = 'info'; sortReverse = !sortReverse">
                    Інформація про журнал
                    <span ng-show="sortType == 'info' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'info' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="#" ng-click="sortType = 'forauthor'; sortReverse = !sortReverse">
                    Для авторів
                    <span ng-show="sortType == 'forauthor' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'forauthor' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="#" ng-click="sortType = 'indexing'; sortReverse = !sortReverse">
                    Індексація
                    <span ng-show="sortType == 'indexing' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'indexing' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="#" ng-click="sortType = 'issn'; sortReverse = !sortReverse">
                    Номер (ISSN)
                    <span ng-show="sortType == 'issn' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'issn' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="#" ng-click="sortType = 'mark'; sortReverse = !sortReverse">
                    Кількість балів
                    <span ng-show="sortType == 'mark' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'mark' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="journal in internationalJournals | orderBy:sortType:sortReverse | filter:searchFish">
            <td>{{ journal.name }}</td>
            <td>{{ journal.publisher }}</td>
            <td>
                <a ng-repeat="journalItem in journal.info track by $index" href="{{journalItem}}">{{ journalItem
                    }}</br></a>
            </td>
            <td><a href="{{ journalItem.forauthor }}">{{ journalItem.forauthor }}</a></td>
            <td>{{ journal.indexing }}</td>
            <td>{{ journal.issn }}</td>
            <td>{{ journal.mark}}</td>

        </tr>

        </tbody>

    </table>

    <h3 id="ukrainian-journals">Перелік українських журналів, що входять до наукометричних баз даних Scopus і Web of
        Science</h3>

    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Пошук журналу" ng-model="searchUkrainianJournal">
            </div>
        </div>
    </form>

    <table class="table table-responsive table-bordered table-striped">

        <thead>
        <tr>
            <td>
                <a href="" ng-click="ukrainianJournalSortType = 'name'; ukrainianSortReverse = !ukrainianSortReverse">
                    Назва журналу
                    <span ng-show="ukrainianJournalSortType == 'name' && !ukrainianSortReverse"
                          class="fa fa-caret-down"></span>
                    <span ng-show="ukrainianJournalSortType == 'name' && ukrainianSortReverse"
                          class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href=""
                   ng-click="ukrainianJournalSortType = 'publisher'; ukrainianSortReverse = !ukrainianSortReverse">
                    Видавець
                    <span ng-show="ukrainianJournalSortType == 'publisher' && !ukrainianSortReverse"
                          class="fa fa-caret-down"></span>
                    <span ng-show="ukrainianJournalSortType == 'publisher' && ukrainianSortReverse"
                          class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href=""
                   ng-click="ukrainianJournalSortType = 'hyperlink'; ukrainianSortReverse = !ukrainianSortReverse">
                    Інформація про журнал
                    <span ng-show="ukrainianJournalSortType == 'hyperlink' && !ukrainianSortReverse"
                          class="fa fa-caret-down"></span>
                    <span ng-show="ukrainianJournalSortType == 'hyperlink' && ukrainianSortReverse"
                          class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="" ng-click="ukrainianJournalSortType = 'issn'; ukrainianSortReverse = !ukrainianSortReverse">
                    ISSN
                    <span ng-show="ukrainianJournalSortType == 'issn' && !ukrainianSortReverse"
                          class="fa fa-caret-down"></span>
                    <span ng-show="ukrainianJournalSortType == 'issn' && ukrainianSortReverse"
                          class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href=""
                   ng-click="ukrainianJournalSortType = 'indexingInDB'; ukrainianSortReverse = !ukrainianSortReverse">
                    Індексація в БД
                    <span ng-show="ukrainianJournalSortType == 'indexingInDB' && !ukrainianSortReverse"
                          class="fa fa-caret-down"></span>
                    <span ng-show="ukrainianJournalSortType == 'indexingInDB' && ukrainianSortReverse"
                          class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="" ng-click="ukrainianJournalSortType = 'sjr'; ukrainianSortReverse = !ukrainianSortReverse">
                    SJR 2017
                    <span ng-show="ukrainianJournalSortType == 'sjr' && !ukrainianSortReverse"
                          class="fa fa-caret-down"></span>
                    <span ng-show="ukrainianJournalSortType == 'sjr' && ukrainianSortReverse"
                          class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href=""
                   ng-click="ukrainianJournalSortType = 'impactFactor'; ukrainianSortReverse = !ukrainianSortReverse">
                    IF 2017
                    <span ng-show="ukrainianJournalSortType == 'impactFactor' && !ukrainianSortReverse"
                          class="fa fa-caret-down"></span>
                    <span ng-show="ukrainianJournalSortType == 'impactFactor' && ukrainianSortReverse"
                          class="fa fa-caret-up"></span>
                </a>
            </td>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="journal in ukrainianJournals | orderBy:ukrainianJournalSortType:ukrainianSortReverse | filter:searchUkrainianJournal">
            <td>{{ journal.name }}</td>
            <td>{{ journal.publisher }}</td>
            <td><a href="{{ journal.hyperlink }}">{{ journal.hyperlink }}</a></td>
            <td>{{ journal.issn}}</td>
            <td>{{ journal.indexingInDB }}</td>
            <td>{{ journal.sjr }}</td>
            <td>{{ journal.impactFactor}}</td>

        </tr>

        </tbody>

    </table>

    <h3 id="scopus-web-of-science-explanation">Як визначити приналежність наукового журналу до наукометричних баз даних
        Scopus і
        Web of Science
    </h3>

    <p>Для пошуку журналів, що індексуються базами даних Scopus I Web of Science, слід використовувати наступні пошукові
        засоби, що розміщені на сторінках сайтів відповідних баз даних:</p>

    <ul>
        <li><a href="https://www.scimagojr.com"> SCOPUS: Scimago Journal & Country Rank</a></li>

        <li><a href="http://mjl.clarivate.com"> Web of Science: Master Journal List</a></li>

        <li><a href="https://mon.gov.ua/ua/nauka/nauka/atestaciya-kadriv-vishoyi-kvalifikaciyi/naukovi-fahovi-vidannya">Україна:
            Перелік наукових фахових видань ВАК</a></li>
    </ul>
    <p>
        Перевірити приналежність журналу до наукометричних баз даних переважніше по міжнародному стандартному серійному
        номеру (ISSN, International Standard Serial Number) – це унікальний номер, що ідентифікує періодичне видання.
        ISSN привласнюється як друкованим так і електронним виданням. Журнал може мати одночасно друкований (print) і
        електронний (online) серійний номер.
    </p>

    <div class="card text-white bg-warning mb-3" style="max-width: 80rem;">
        <div class="card-header">Корисне посилання</div>
        <div class="card-body">
            <h4 class="card-title">Як ідентифікувати періодичне видання</h4>
            <p class="card-text"><a href="https://openscience.in.ua/check-journal.html">https://openscience.in.ua/check-journal.html </a>
            </p>
        </div>
    </div>
    <h3 id="rating-explanation"> Як визначити показники авторитетності (рейтинг) наукових
        журналів</h3>

    <p><b>SCOPUS</b></p>

    <p> База даних Scopus з 2000 року визначає рейтинг журналу SJR (SCIMago Journal Rank), який враховує степінь
        цитованості
        журналу, а також рейтинг журналів, що посилаються на даний журнал. SJR враховує загальну кількість опублікованих
        статей, цитувань, цитувань по рокам, індекс Гірша, визначає не тільки вплив і авторитетність журналів, а і
        країни в
        цілому.
    </p>

    <p>SJR рейтинг журналів публікуєтеся щорічно на сайті Sсimago Journal & Country Rank і на сайті Scopus.</p>
    <p>Портал Sсimago Journal & Country Rank (SJR) надає наукові показники журналів і країн, рейтинги публікаційної
        активності журналів, статистику цитувань по журналам і країнам на базі інформації, що міститься в наукометричній
        база даних Scopus.</p>
    <p>
        Переглянути SJR рейтинг журналу можна тут: <a href="https://www.scimagojr.com/journalrank.php">https://www.scimagojr.com/journalrank.php</a>
    </p>

    <p><b>WEB of SCIENCE</b></p>
    <p> Web of Science поєднує чотири наукометричні бази даних, дві з яких стосуються технічних наук:</p>
    <ul>
        <li><a href="http://wokinfo.com/products_tools/multidisciplinary/esci/">ESCI — Emerging Sources Citation
            Index</a> - журнали, що включенні в 2015-2017 годах, для яких ще не розраховується IF (Impact-factor).
        </li>
        <li>
            <a href="http://thomsonreuters.com/en/products-services/scholarly-scientific-research/scholarly-search-and-discovery/science-citation-index-expanded.html">SCIE
                — Science Citation Index Expanded </a> - журнали, що включенні до 2015 року, для яких розрахований IF
            (Impact-factor).
        </li>
    </ul>

    <div class="card text-white bg-warning mb-3" style="max-width: 80rem;">
        <div class="card-header">Корисне посилання</div>
        <div class="card-body">
            <h4 class="card-title">Відбір статей до БД Web of Science</h4>
            <p class="card-text"><a href="https://openscience.in.ua/wos-journal-selection-process.html ">https://openscience.in.ua/wos-journal-selection-process.html </a>
            </p>
        </div>
    </div>

    <p>
        <b>Імпакт-фактор (IF)</b> - чисельний показник авторитетності наукового журналу за версією Web of Science, який
        залежить від кількості опублікованих наукових статей і їх цитуванні протягом певного часу. Список всіх журналів,
        для яких розраховується IF щороку публікується в журналі «Journal Citation Report» (JCR).


    </p>

    <p> Список журналів з IF за 2016 рік:
        <a href=" http://research.umz.ac.ir/uploads/journal_impact_factor_2017.pdf">
            http://research.umz.ac.ir/uploads/journal_impact_factor_2017.pdf</a></p>

</div>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js'></script>


<script src="js/index.js"></script>

</body>

</html>
